body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    gap: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-----------containers-------------*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media  screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}
button{
    cursor: pointer;
}

/*--------headers-----------*/

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.add {
    display: none;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.logo-style {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .add {
        font-style: normal;
        display: block;
    }

    .nav-page {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-item-link.active {
        position: relative;
        color: #404bbf;
    }

    .nav-item-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .nav-item .nav-item-link.active::after {
        display: block;
    }

    .header-logo:active {
        color: #404bbf;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }

    .nav-item-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav-item-link:hover,
    .nav-item-link:focus {
        color: #404bbf;
    }

    .contact {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contact-item {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}
/*------MOBILE MENU_____*/
   .mobile-menu {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #ffffff;
       opacity: 0;
       visibility: hidden;
       pointer-events: none;
       transition:
           opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
           visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .mobile-menu.is-open {
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
   }

   .mobile-menu-container {
       position: relative;
       padding-top: 72px;
       padding-bottom: 40px;
       display: flex;
       flex-direction: column;
       height: 100%;
   }
   .contact-mobile-active{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #4d5ae5;
        font-style: normal;
   }

   .nav-list-mobile {
       display: flex;
       flex-direction: column;
       gap: 40px;
       align-items: start;
   }

   .nav-item-mobile {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       color: #2e2f42;
   }

   .mobile-menu-close {
       position: absolute;
       top: 24px;
       right: 16px;
       width: 24px;
       height: 24px;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid #e7e9fc;
       background-color: #ffff;
       padding: 0;
       transition:
           background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
           border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .nav-item-link-mob {
       color: #2e2f42;
   }

   .nav-item-link-mob.active {
       position: relative;
       color: #404bbf;
   }

   .nav-item-link-mob:hover,
   .nav-item-link-mob:focus {
       color: #404bbf;
   }

   .nav-page-mobile {
       width: 100%;
   }

   .contact-item-mobile {
       display: flex;
       flex-direction: column;
       gap: 24px;
       align-items: flex-start;
   }

   .contact-mobile {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #434455;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       font-style: normal;
   }

   .contact-mobile:hover,
   .contact-mobile:focus {
       color: #404bbf;
   }

   .add-mobile {
       width: 100%;
       margin-bottom: 48px;
   }

   .media-icon-mobile {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       background-color: #4d5ae5;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .social-link-mobile {
       gap: 40px;
   }

   .media-icon-mobile:hover,
   .media-icon-mobile:focus {
       background-color: #404bbf;
   }

   @media screen and (min-width: 768px) {
       .mobile-menu {
           display: none;
       }
   }
/*----------HERO-----------*/

.title-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 216px;
    height: 160px;
    margin-bottom: 72px;
}

.button-hero {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/mobile@1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 320px;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404bbf;
}

.cont-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .hero {
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile@2.jpg);
    }
}

@media screen and (min-width: 768px) {
    .title-hero {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.08;
        letter-spacing: 0.02em;
        width: 496px;
        height: 120px;
        margin-bottom: 36px;
    }
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/tablet@1jpg.jpg);
        max-width: 768px;
}}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet@2.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1440px;
    }
    .title-hero {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x.jpg);
        padding-top: 236px;
        padding-bottom: 244px;
    }
}
/*-----------SECTION1----------------*/
 .cosmo {
     display: none;
 }

 .title-future {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .text-future1 {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .digital-item {
     width: 100%;
 }

 .our-list {
     padding-top: 96px;
     padding-bottom: 96px;
 }

 .future-list {
     flex-wrap: wrap;
     gap: 72px;
 }

 @media screen and (min-width: 320px) {
     .title-future .text-future1 {
         max-width: 288px;
     }

     .title-future {
         text-align: center;
     }
 }

 @media screen and (min-width: 768px) {
     .digital-item {
         width: calc((100% - 24px) / 2);
     }

     .future-list {
         flex-wrap: wrap;
         gap: 72px 24px;
     }

     .title-future {
         text-align: start;
     }
 }

 @media screen and (min-width: 1158px) {
     .cosmo {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 112px;
         background-color: #f4f4fd;
         border-radius: 4px;
         border: 1px solid #8e8f99;
         margin-bottom: 8px;
     }

     .digital-item {
         width: calc((100% - 72px) / 4);
     }

     .future-list {
         display: flex;
         gap: 24px;
     }

     .digital-item {
         width: 264px;
     }

     .title-future {
         display: flex;
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: #2e2f42;
     }

     .text-future1 {
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #434455;
     }

     .title-team {
         font-weight: 700;
         font-size: 36px;
         line-height: 1.11;
         text-align: center;
         text-transform: capitalize;
         letter-spacing: 0.02em;
         color: #2e2f42;
         margin-bottom: 72px;
     }
 }

 /*---------SEctiON2/--------*/
 .team {
     padding: 96px 0;
     background-color: #f4f4fd;
 }

 .title-team {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.1;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 .team-list {
     background-color: #f4f4fd;
     display: flex;
     flex-wrap: wrap;
     gap: 72px;
     justify-content: center;
 }

 .staff-list {
     background-color: #ffffff;
     border-radius: 0 0 4px 4px;
     box-shadow:
         0 2px 1px 0 rgba(46, 47, 66, 0.08),
         0 1px 1px 0 rgba(46, 47, 66, 0.16),
         0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
     align-items: center;
     justify-content: center;
     width: 264px;
 }

 .media-icon-staff {
     width: 40px;
     height: 40px;
 }

 .linkin:hover,
 .linkin:focus {
     background-color: #404bbf;
 }

 .linki {
     fill: #f4f4fd;
 }

 .linkin {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     gap: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-link {
     display: flex;
     justify-content: center;
     gap: 24px;
 }

 .title-staff {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
 }

 .text-future {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
     color: #434455;
 }

 .staff-container {
     display: flex;
     flex-direction: column;
     padding-top: 32px;
     padding-bottom: 32px;
     gap: 8px;
 }

 @media screen and (min-width: 768px) {
     .team-list {
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 64px 24px;
     }

     .staff-container {
         max-width: 584px;
     }

     .title-three {
         text-align: left;
     }
 }

 @media screen and (min-width: 1158px) {
     .team {
         padding: 120px 0;
     }

     .staff-list {
         width: calc((100% - 72px) / 4);
     }

     .staff-container {
         max-width: 1158px;
     }
 }
/*---------SECTION4---------*/
 .potrf-list {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }

 .item-list {
     box-shadow:
         0 2px 1px 0 rgba(46, 47, 66, 0.08),
         0 1px 1px 0 rgba(46, 47, 66, 0.16),
         0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
     cursor: pointer;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .title-portf {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
     display: flex;
     justify-content: center;
     margin-bottom: 72px;
 }

 .our-portf {
     padding-top: 96px;
     padding-bottom: 96px;
 }

 .container-app {
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
     gap: 8px;
     border-bottom: 1px solid #e7e9fc;
     border-left: 1px solid #e7e9fc;
     border-right: 1px solid #e7e9fc;
     padding: 32px 16px;
 }

 .app {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .text-app {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 @media screen and (min-width: 320px) {
     .transform-text {
         display: none;
     }
 }

 @media screen and (min-width: 768px) {
     .transform-text {
         display: none;
     }

     .item-list {
         width: calc((100% - 24px) / 2);
     }

     .potrf-list {
         display: flex;
         flex-wrap: wrap;
         gap: 24px;
         justify-content: center;
         row-gap: 72px;
     }
 }

 @media screen and (min-width: 1158px) {
     .our-portf {
         padding-top: 120px;
         padding-bottom: 120px;
     }
     .potrf-list{
        row-gap: 40px;
     }

     .item-list {
         width: calc((100% - 48px) / 3);
         box-shadow: none;
         position: relative;
         overflow: hidden;
         transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .info-cont {
         position: relative;
         overflow: hidden;
     }

     .transform-text {
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #f4f4fd;
         padding: 40px 32px;
         background-color: #4d5ae5;
         height: 100%;
         width: 100%;
         transform: translateY(100%);
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .item-list:hover .transform-text {
         transform: translateY(0%);
     }

     .item-list:hover {
         box-shadow:
             0px 1px 6px rgba(46, 47, 66, 0.08),
             0px 1px 1px rgba(46, 47, 66, 0.16),
             0px 2px 1px rgba(46, 47, 66, 0.08);
     }
 }

/*----------FOOOOTER______-----------*/
.end-hero {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.media-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-style {
    color: #f4f4fd;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    width: 288px;
    height: 72px;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 72px;
}

.second-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-link-footer {
    display: flex;
    gap: 16px;
}

.item-media {
    width: 40px;
    height: 40px;
}

.media-icon-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-footer:hover,
.media-icon-footer:focus {
    background-color: #31d0aa;
}

.footer-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-user-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.contact-item-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-user-imput {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    margin-bottom: 16px;
}

.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #4d5ae5;
    color: #fff;
    fill: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer:hover,
.btn-footer:focus {
    background-color: #404bbf;
}

.footer-icon {
    margin-left: 16px;
}

.form-footer-use {
    display: block;
    justify-items: center;
}

@media screen and (min-width: 320px) {
    .social-link-footer {
        align-items: center;
        justify-content: center;
    }

    .second-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .footer-usecont {
        display: flex;
        flex-wrap: wrap;
        padding-left: 108px;
        max-width: 768px;
        margin: 0 auto; 
        
    }

    .media-text {
        max-width: 264px;
        min-height: 112px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .text-footer {
        max-width: 264px;
        padding: 0;

    }

    .form-footer-use {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .footer-user-imput {
        width: 264px;
        height: 40px;
        padding-left: 16px;
        margin-bottom: 0;
    }

    .btn-footer {
        display: flex;
        min-width: 165px;
        max-height: 40px;
    }

    .footer-email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-cont {
        margin-top: 0;
        align-items: flex-start;
        margin-left: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-usecont {
        flex-wrap: nowrap;
        padding-left: 0px;
        max-width: 1158px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-cont {
        margin-left: 100px;
        padding-left: 0;
        margin-bottom: 0;
    }

    .footer-email {
        margin-left: 80px;
    }
    .end-hero {
    background-color: #2e2f42;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.end-hero .container{
    justify-content: space-between;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    display: flex;
}

.footer-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #f4f4fd;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-bottom: 16px;
    display: inline-block;
}

.social-link-footer {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.media-icon-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-footer svg {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.media-icon-footer:hover,
.media-icon-footer:focus {
    background-color: #31d0aa;
}
.end-hero .container{
    display: flex;
    align-items: baseline;
}
.link {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}
.second-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-cont {
    align-items: baseline;
    gap: 16px;
    margin: 0;
}
.media-text{
    margin-right: 120px;
}

.footer-user-label {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-user-imput {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: #2E2F42;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
}


.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #4d5ae5;
    color: #fff;
    fill: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer:hover,
.btn-footer:focus {
    background-color: #404BBF;
}

.footer-icon{
    margin-left: 16px;
}

.form-footer-use{
    display: flex;
    gap: 24px;

}

/*   #endregion footer*/

/*         #region MODAL style      */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}
.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
    fill:#fff ;
    border: none;
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-end {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-wrraper-cont {
    margin-bottom: 8px;
    
}

.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-user-imput {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    max-width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}
.form-user-imput:focus{
    border:1px solid #4D5AE5;
}

.form-user-imput:focus+ .form-user-icon{
    fill: #4D5AE5;
}
.icon-wrrap{
    position: relative;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cont{
    padding-top: 47px;
}
.form-wrapper-coment {
    margin-bottom: 16px;
}

.form-user-label {}

.user-comment {
    width: 360px;
    resize: none;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus{
    border: 1px solid #4D5AE5;
}
.user-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.castom-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-user {
    margin-bottom: 24px;
}

.checkbox:checked+ .form-user-checkbox .castom-checkbox{
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.castom-checkbox-icon {}

.private-check {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.form-btn-submit {
    display: block;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    position: relative;
    left: 96px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-btn-submit:hover,
.form-btn-submit:focus{
    background-color: #404BBF;
}
}
/*         #region MODAL style      */

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.modal {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-end {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrraper-cont {
    margin-bottom: 8px;
}
.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-user-imput {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    max-width: 256px;
    height: 40px;
    padding-left: 34px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}
.form-user-imput:focus {
    border: 1px solid #4d5ae5;
}
.icon-wrrap {
    position: relative;
}
.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment {
    width: 256px;
    resize: none;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn-submit {
    display: block;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.user-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.castom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-user {
    margin-bottom: 24px;
}
.checkbox:checked+.form-user-checkbox .castom-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}
.castom-checkbox-icon {}

.private-check {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-btn-submit:hover,
.form-btn-submit:focus {
    background-color: #404bbf;
}
@media screen and (max-width: 320px){
}
.form-user-checkbox{
    display: flex;
    align-items: center;
}
.castom-checkbox{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.form-wrapper-coment {
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}
.form-user-imput {
    max-width: 360px;
    height: 40px;
    padding-left: 38px;
}
.form-user-imput:focus+.form-user-icon {
    fill: #4d5ae5;
}

.form-user-label {}

.user-comment {
    width: 360px;
    padding: 8px 16px;
}

}
/*         #endregion MODAL style      */